# WK6 Data Cleaning <hr style="border:2.5px solid #126782"></hr>

### Name:**Tonie Eduard D. Deocampo**
### Course: **BS-CpE-2A**

import **pandas, numpy, matplotlib**

In [309]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Overview of the Dataset

In [310]:
df = pd.read_csv("/Users/tonieeduarddeocampo/Documents/MATHEDA/WK6/dataset/chip-dataset.csv", delimiter=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4854 non-null   int64
 1   Product                4854 non-null   object
 2   Type                   4854 non-null   object
 3   Release Date           4854 non-null   object
 4   Process Size (nm)      4845 non-null   float64
 5   TDP (W)                4228 non-null   float64
 6   Die Size (mm^2)        4139 non-null   float64
 7   Transistors (million)  4143 non-null   float64
 8   Freq (MHz)             4854 non-null   int64
 9   Foundry                4854 non-null   object
 10  Vendor                 4854 non-null   object
 11  FP16 GFLOPS            536 non-null    float64
 12  FP32 GFLOPS            1948 non-null   float64
 13  FP64 GFLOPS            1306 non-null   float64
dtypes: float64(7), int64(2), object(5)
memory usage: 531.0+ KB

### **Overview of the Dataset**

In [311]:
df.head()

,Unnamed: 0,Product,Type,Release Date,Process Size (nm),TDP (W),Die Size (mm^2),Transistors (million),Freq (MHz),Foundry,Vendor,FP16 GFLOPS,FP32 GFLOPS,FP64 GFLOPS
0,0,AMD Athlon 64 3500+,CPU,2/20/2007,65.0,45.0,77.0,122.0,2200,Unknown,AMD,NaN,NaN,NaN
1,1,AMD Athlon 200GE,CPU,9/6/2018,14.0,35.0,192.0,4800.0,3200,Unknown,AMD,NaN,NaN,NaN
2,2,Intel Core i5-1145G7,CPU,9/2/2020,10.0,28.0,NaN,NaN,2600,Intel,Intel,NaN,NaN,NaN
3,3,Intel Xeon E5-2603 v2,CPU,9/1/2013,22.0,80.0,160.0,1400.0,1800,Intel,Intel,NaN,NaN,NaN
4,4,AMD Phenom II X4 980 BE,CPU,5/3/2011,45.0,125.0,258.0,758.0,3700,Unknown,AMD,NaN,NaN,NaN

### **First Column**

In [312]:
df=df.drop(df.columns[0], axis=1)
df.head()

,Product,Type,Release Date,Process Size (nm),TDP (W),Die Size (mm^2),Transistors (million),Freq (MHz),Foundry,Vendor,FP16 GFLOPS,FP32 GFLOPS,FP64 GFLOPS
0,AMD Athlon 64 3500+,CPU,2/20/2007,65.0,45.0,77.0,122.0,2200,Unknown,AMD,NaN,NaN,NaN
1,AMD Athlon 200GE,CPU,9/6/2018,14.0,35.0,192.0,4800.0,3200,Unknown,AMD,NaN,NaN,NaN
2,Intel Core i5-1145G7,CPU,9/2/2020,10.0,28.0,NaN,NaN,2600,Intel,Intel,NaN,NaN,NaN
3,Intel Xeon E5-2603 v2,CPU,9/1/2013,22.0,80.0,160.0,1400.0,1800,Intel,Intel,NaN,NaN,NaN
4,AMD Phenom II X4 980 BE,CPU,5/3/2011,45.0,125.0,258.0,758.0,3700,Unknown,AMD,NaN,NaN,NaN

### **Renaming the Columns**

In [302]:
df_w = df.rename(columns={
    'Release Date':'Date',
    'Process Size (nm)':'Process_Size',
    'TDP (W)':'TDP',
    'Die Size (mm^2)':'Die_Size',
    'Transistors (million)':'Transistors',
    'Freq (MHz)':'Frequency',
    'FP16 GFLOPS':'FP16',
    'FP32 GFLOPS':'FP32',
    'FP64 GFLOPS':'FP64'
})
df_w.info()
df_m=df_w.copy()
df_l=df_w.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       4854 non-null   object
 1   Type          4854 non-null   object
 2   Date          4854 non-null   object
 3   Process_Size  4845 non-null   float64
 4   TDP           4228 non-null   float64
 5   Die_Size      4139 non-null   float64
 6   Transistors   4143 non-null   float64
 7   Frequency     4854 non-null   int64
 8   Foundry       4854 non-null   object
 9   Vendor        4854 non-null   object
 10  FP16          536 non-null    float64
 11  FP32          1948 non-null   float64
 12  FP64          1306 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 493.1+ KB

## **Distinct Values**

In [258]:
df_w['Product'].unique()

array(['AMD Athlon 64 3500+', 'AMD Athlon 200GE', 'Intel Core i5-1145G7',
       ..., 'NVIDIA GeForce FX Go5100', 'NVIDIA Quadro 3000M',
       'NVIDIA GeForce 9300 SE'], shape=(4278,), dtype=object)

In [259]:
df_w['Product'].nunique()

4278

In [260]:
df_w['Type'].unique()

array(['CPU', 'GPU'], dtype=object)

In [261]:
df_w['Type'].nunique()

2

In [262]:
df_w['Foundry'].unique()

array(['Unknown', 'Intel', 'GF', 'TSMC', 'UMC', 'Samsung', 'Renesas',
       'Sony', 'NEC', 'IBM'], dtype=object)

In [263]:
df_w['Foundry'].nunique()

10

In [264]:
df_w['Vendor'].unique()

array(['AMD', 'Intel', 'Other', 'NVIDIA', 'ATI'], dtype=object)

In [265]:
df_w['Vendor'].nunique()

5

## **Data Cleaning - Dropping NaN**
**Count of NaN**

In [266]:
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       9
TDP              626
Die_Size         715
Transistors      711
Frequency          0
Foundry            0
Vendor             0
FP16            4318
FP32            2906
FP64            3548
dtype: int64

In [267]:
df_w = df_w.dropna(subset=(['Process_Size']))
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP              623
Die_Size         715
Transistors      708
Frequency          0
Foundry            0
Vendor             0
FP16            4309
FP32            2901
FP64            3541
dtype: int64

**Cleaning the TDP**

In [268]:
df_w = df_w.dropna(subset=['TDP'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size         660
Transistors      668
Frequency          0
Foundry            0
Vendor             0
FP16            3717
FP32            2481
FP64            3047
dtype: int64

**Cleaning the Die Size**

In [269]:
df_w=df_w.dropna(subset=['Die_Size'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size           0
Transistors      140
Frequency          0
Foundry            0
Vendor             0
FP16            3113
FP32            1930
FP64            2489
dtype: int64

**Cleaning The Transistors**

In [270]:
df_w=df_w.dropna(subset=['Transistors'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            2992
FP32            1812
FP64            2369
dtype: int64

In [271]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3422 entries, 0 to 4851
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       3422 non-null   object
 1   Type          3422 non-null   object
 2   Date          3422 non-null   object
 3   Process_Size  3422 non-null   float64
 4   TDP           3422 non-null   float64
 5   Die_Size      3422 non-null   float64
 6   Transistors   3422 non-null   float64
 7   Frequency     3422 non-null   int64
 8   Foundry       3422 non-null   object
 9   Vendor        3422 non-null   object
 10  FP16          430 non-null    float64
 11  FP32          1610 non-null   float64
 12  FP64          1053 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 374.3+ KB

## Data Cleaning - Replacing NaN with Mean

In [303]:
df_m = df_w.copy()
df_m.isna().sum()

Product            0
Type               0
Date               0
Process_Size       9
TDP              626
Die_Size         715
Transistors      711
Frequency          0
Foundry            0
Vendor             0
FP16            4318
FP32            2906
FP64            3548
dtype: int64

In [304]:
#Cleaning Process Size with mean
psize_mean = df_m['Process_Size'].mean()
print(psize_mean)
df_m['Process_Size'] = df_m['Process_Size'].fillna(psize_mean)

55.10959752321981

In [305]:
#CLeaning TDP with mean
tdp_mean = df_m['TDP'].mean()
print(tdp_mean)
df_m['TDP'] = df_m['TDP'].fillna(tdp_mean)

81.35998107852413

In [306]:
df_m['Die_Size'] = df_m['Die_Size'].fillna(df_m['Die_Size'].mean())

In [307]:
df_m['Transistors'] = df_m['Transistors'].fillna(df_m['Transistors'].mean())

In [308]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       4854 non-null   object
 1   Type          4854 non-null   object
 2   Date          4854 non-null   object
 3   Process_Size  4854 non-null   float64
 4   TDP           4854 non-null   float64
 5   Die_Size      4854 non-null   float64
 6   Transistors   4854 non-null   float64
 7   Frequency     4854 non-null   int64
 8   Foundry       4854 non-null   object
 9   Vendor        4854 non-null   object
 10  FP16          536 non-null    float64
 11  FP32          1948 non-null   float64
 12  FP64          1306 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 493.1+ KB

In [278]:
df_m.isna().sum()

Product            0
Type               0
Date               0
Process_Size       0
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            2992
FP32            1812
FP64            2369
dtype: int64

In [319]:
df_m.describe()

,Process_Size,TDP,Die_Size,Transistors,Frequency,FP16,FP32,FP64
count,4854.000000,4854.000000,4854.000000,4854.000000,4854.000000,536.000000,1948.000000,1306.000000
mean,55.109598,81.359981,188.440445,1929.922279,1484.406057,8397.459851,2134.756653,363.670511
std,44.956931,71.683029,116.523337,3736.859205,1066.701523,13799.551131,3898.431487,1145.931856
min,0.000000,1.000000,1.000000,8.000000,100.000000,10.020000,12.800000,3.600000
25%,22.000000,35.000000,112.000000,180.000000,590.000000,768.800000,257.300000,38.295000
50%,40.000000,67.000000,177.000000,950.000000,1073.500000,2965.500000,696.000000,89.280000
75%,90.000000,95.000000,221.000000,1929.922279,2400.000000,10600.000000,2116.750000,220.000000
max,250.000000,900.000000,826.000000,54200.000000,4700.000000,184600.000000,40000.000000,11540.000000

## Lambda Fuction

Syntax:<br>
**lambda** arguments : expression

In [313]:
df_l = df_w.copy()
df_l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       4854 non-null   object
 1   Type          4854 non-null   object
 2   Date          4854 non-null   object
 3   Process_Size  4845 non-null   float64
 4   TDP           4228 non-null   float64
 5   Die_Size      4139 non-null   float64
 6   Transistors   4143 non-null   float64
 7   Frequency     4854 non-null   int64
 8   Foundry       4854 non-null   object
 9   Vendor        4854 non-null   object
 10  FP16          536 non-null    float64
 11  FP32          1948 non-null   float64
 12  FP64          1306 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 493.1+ KB

In [314]:
numbers = [1,2,3,4,5,6,7,8,9,10]

def even(n) :
    e = []
    for i in n:
        if i%2 == 0:
            e.append(i)
    return e
even(numbers)

[2, 4, 6, 8, 10]

In [315]:
even = filter(lambda n:n%2 == 0, numbers)
list(even)

[2, 4, 6, 8, 10]

Using **lambda** function to replace NaN values with mean of each column

In [316]:
n_columns = ['TDP', 'Die_Size', 'Transistors']
df_l[n_columns] = df_l[n_columns].apply(lambda n:n.fillna(n.mean()))
df_l.isna().sum()

Product            0
Type               0
Date               0
Process_Size       9
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            4318
FP32            2906
FP64            3548
dtype: int64

In [317]:
df_l.describe()

,Process_Size,TDP,Die_Size,Transistors,Frequency,FP16,FP32,FP64
count,4845.000000,4854.000000,4854.000000,4854.000000,4854.000000,536.000000,1948.000000,1306.000000
mean,55.109598,81.359981,188.440445,1929.922279,1484.406057,8397.459851,2134.756653,363.670511
std,44.998676,71.683029,116.523337,3736.859205,1066.701523,13799.551131,3898.431487,1145.931856
min,0.000000,1.000000,1.000000,8.000000,100.000000,10.020000,12.800000,3.600000
25%,22.000000,35.000000,112.000000,180.000000,590.000000,768.800000,257.300000,38.295000
50%,40.000000,67.000000,177.000000,950.000000,1073.500000,2965.500000,696.000000,89.280000
75%,90.000000,95.000000,221.000000,1929.922279,2400.000000,10600.000000,2116.750000,220.000000
max,250.000000,900.000000,826.000000,54200.000000,4700.000000,184600.000000,40000.000000,11540.000000

## **Saving** the Cleaned DataSet

In [318]:
df_m.to_csv(r"../dataset/chip-dataset-cleaned.csv", index = False)